body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  background-image: url('sakura.png');
  background-position: fixed;
  width: 100%;
  height: 100vh;
}

#otp-ver{
  padding-top: 15%
}

#cont{
  /* float: right; */
  background-color: #fff3ee;
  padding: 40px;
  width: fit-content;
}

#myForm{
  /* padding: 0 25%; */
}

@media screen and (max-width: 600px){
  #root{
    padding: auto;
  }
}